@model ProVendas.APP.Models.ClienteViewModel

<div>
    <h4>Contato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contato.Ds_Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contato.Ds_Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contato.Ds_Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contato.Ds_Celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contato.Ds_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contato.Ds_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contato.Ds_Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contato.Ds_Site)
        </dd>
    </dl>
</div>

